@font-face {
    font-family: 'Anton';
    font-style: normal;
    src:
      local("Anton"),
      url("Anton-Regular.ttf") format("truetype");
  }
  
  .video-label {
    font-family: 'Anton', 'Arial', 'Helvetica', sans-serif;
    font-size: 3rem !important;
    padding: 10px 40px;
    background: linear-gradient(to right, #1197b9, transparent); /* Cambia el degradado a tu gusto */
    color: #ffffff;
    opacity: 100;
    text-transform: uppercase;
    text-align: left; /* Alineación a la izquierda */
    left: -1px; /* Mover 10 pixeles hacia la izquierda */
    bottom: -1px; /* Mover 10 pixeles hacia la izquierda */
  
  }